<center> 
        <%= render 'sort' %>
        <ul><% TvShow.most_comments.each do |t| %>
            <div> <%= link_to(t.title, "/tv_shows/#{t.id}") %> </div>
              <%end %> 
                <div> ________</div>
                    <%= link_to "ADD NEW TVSHOW", new_tv_show_path(@tvshow), class: "button" %>
                    <div> -</div>
                         <ul>

</center>


