/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: rgb(0, 0, 0);
   font-size: 28px
}

h1 {
  text-align: center;
  color: rgba(51, 255, 0, 0.774);
  
}

h2 {
  text-align: center;
  color: red;
}

p {
color: rgba(51, 255, 0, 0.774);
  text-align: center;
}

.button {
  background-color: rgb(105, 105, 105); /* Green */
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
   
}
a {
  color: rgb(250, 0, 125);
  text-decoration: none;
  /* color: rgb(158, 158, 158); */
  /* border: ,5px solid black; */
  /* outline: #4CAF50 solid .5px; */
/* 
    background-color: #4CAF50; */
  color: white;
  font-size: 24px
  
  font-weight: normal;
  line-height: 20px;
  
}
a:hover {
    color: hotpink;
     font-size: 32px;
  
}
p.dotted {
   
    color: hotpink;
}
nav{
    text-align: right;

}

li{ 
  color: rgb(255, 0, 128);
  font-size: 30px

}

ul{ 
  color: hotpink;
    /* text-align: center; */
font-size: 32px

}
div{ 
 color: rgb(206, 15, 15);

}

label{
   color: hotpink;

font-size: 24px;
text-align: center;

}
input{
   color: hotpink;
  background-color: rgb(0, 0, 0); /* Green */

font-size: 24px;
text-align: center;

}
center{

font-size: 18px;
text-align: center;

}
c{

font-size: 12px;
text-align: center;
color: white;
}
